/* * {
    border: 1px solid black;
} */

:root {
    --primary-color: #2A5653;
    --secondary-color: #CADACD;
    --tertiary-color: #91ADA1;
    --quaternary-color: #88A3A4;
    --text-color: #495B5A;
}

body {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.page {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 100vw;
}

.side-hero {
    flex-grow: 1;
    position: relative;
    width: 66%;
    min-width: 345px;
    height: 100vh;
    background: url(../assets/images/surf.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
}

.side-hero div {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: var(--quaternary-color) 1px 0 12px;

    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-hero img {
    width: 5rem;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.block {
    padding: 36px;
    font-size: 28px;
    margin: 0;
}

section {
    background-color: #EFEFEF;
    box-shadow: 0px 4px 14px #5D6063;
    border-radius: 3px;

    width: 85%;
    margin: 20px 0;
    padding: 0 50px;
}

.title {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 8px;

    position: relative;
    top: 8px;
    padding-left: 16px;

}

form {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    padding-bottom: 20px;
    justify-content: space-evenly;
}

input {
    width: 240px;
}

input:focus {
    background-color: palegoldenrod;
}

button {
    width: 240px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--text-color);
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
                rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.submit {
    position: relative;
    bottom: 60px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}



