/* * {
    border: 1px solid black;
} */

:root {
    --primary-color: #2A5653;
    --secondary-color: #B1C4B8;
    --tertiary-color: #91ADA1;
    --quaternary-color: #88A3A4;
    --text-color: #495B59;
}

body {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.page {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.logo {
    background: url(../assets/images/surf.jpg) center center;
    width: 50%;
    background-size: cover;
    height: 804px;
    position: relative;
    border-radius: 4px 0px 0px 4px;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.3);
    height: 180px;
    position: relative;
    left: 0; top: 160px;
    color: white;
    text-shadow: var(--quaternary-color) 1px 0 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
    padding: 36px;
}

section {
    background-color: #EFEFEF;
    box-shadow: 0px 4px 14px #5D6063;
    border-radius: 3px;

    width: 85%;
    margin: 20px 0;
    padding: 0 50px;
}

.title {
    font-size: 28px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
}

input {
    width: 150px;
    padding: 0;
    margin: 4px;
    box-sizing: border-box;
}

input:focus {
    background-color: rgba(205, 228, 219, 0.8);
    border: 1px solid var(--tertiary-color);
}



